<% if notice || alert %>
  <div id='homepageb'>
<% else %>
  <div id='homepage'>
<% end %>


<div class="large-6 small-6 columns ">
  <br/>
  <br/>
  <%= form_tag(bills_path, :method => "get", id: "search-form") do %>
     <%= text_field_tag :search, params[:search], placeholder: "Search for bills" %>
     <div class='text-left'><%= submit_tag "Search", name: nil%> </div>
  <% end %>
</p>
  <p>
    <%= form_tag(representatives_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Enter your zip code to see who represents you" %>
       <div class='text-left'><%= submit_tag "Search", name: nil%> </div>
    <% end %>
  </p>
</div>
</div>
