<%= form_for [@message] do |f| %>
<!-- 
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div>
    <%= f.label :cover_url %>
    <%= f.text_field :cover_url %>
  </div>

  <div>
    <%= f.submit(value="Submit") %>
  </div> -->

<% end %>
