

<div class='small-12 columns' id='billshow'>
  <h1 class='small-10 columns'><%= @representative.name %></h1>
  <img src='<%= @representative.image %>' style="width:200px;"/> <br/>
  <p>State: <%= @representative.state %>,  Party: <%= @representative.party %> </p><br/>
  <p>Mailing Address: <%= @representative.address %> </p><br/>
  <a href='<%= @representative.website %>'> The Webiste of <%= @representative.name %> </a><br/>
  <p>Phone Number: <%= @representative.phone %> </p><br/>

  <br />
  <p class='small-8 columns'>
    <%= link_to "Home", root_path %>
  </p>


</div>
