<% if !@search %>
  <div id='homepage'>
<% elsif @bills == [] %>
  <div id = 'api'>
<% else %>
  <div id ='api2'>
<% end %>

  <p>
   <%= form_tag(api_index_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search ProPublica database" %>
      <div class='text-center'><%= submit_tag "Search", :name => nil%> </div>
      <br />
   <% end %>
 </p>
</div>

  <% if @search %>
    <% if @bills == [] %>
      <div id='noresults'>
        <h4 class='text-center'>There are no bills containing the term <%= @search %>.</h4>
      </div>
    <% else %>

      <div id='bills' class='small-12 columns'>
        <% @bills[2][1][0]['bills'].each do |body|  %>
          <div class='small-12 columns' id='game'>
            <div class='small-3 columns text-right'>
                <div class='' id=''>
                <%= body['title'] %>
                </div>

            </div>


            <div class='small-3 columns'>
              <%= form_for [@bill] do |f| %>

                <%= f.hidden_field :title, value: body['title'] %>
                <%= f.hidden_field :description, value: body['latest_major_action'] %>
                <%= f.hidden_field :location, value: "USA" %>

                <div id='small'><%= f.submit(value="Add Bill") %></div>

              <% end %>
            </div>

          </div>
        <% end %>
      </div>
    <% end %>

  <% end %>
