<div data-sticky-container>
  <div class="title-bar large-12 columns small-12 columns medium-12 columns" id = 'title' data-sticky data-options="marginTop:0;" style="width:100%" data-top-anchor="1" >

    <div class="title-bar-left">
      <%= image_tag 'logotest.png', id: 'logo'%>
      <strong><%= link_to 'Galaxy Gamers Association', root_path %></strong>
    </div>

    <div class="title-bar-right">

        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.name %></strong>.
          <% if current_user.profile_photo? %>
            <%= image_tag current_user.profile_photo, id: 'profile' %>
            <% else %>
            <%= image_tag 'default.png', id: 'profile' %>

            <% end %>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method:  :delete, :class => 'navbar-link'  %>
        <% elsif admin_signed_in? %>
          Logged in as Admin: <strong><%= current_admin.email %></strong>. |
          <%= link_to "Dashboard", admins_path %> |
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
          <%= link_to "Login Admin", new_admin_session_path, :class => 'navbar-link'  %>
        <% end %>
    </div>

  </div>
</div>
